@import "./../../styles/includes";

.faq {
  background: $bgLight;
}

.faqTitle {
  padding: 7rem 11rem 4rem;

  @include media-breakpoint-down(md) {
    padding: 2rem 1rem 4rem;
  }

  h1 {
    @include title($red);

    @include media-breakpoint-down(md) {
      @include titleResponsive();
    }
  }

  p {
    @include paragraph($red);
    padding: 2rem 9rem 0;
    line-height: 2rem;
    letter-spacing: 1px;

    @include media-breakpoint-down(md) {
      @include paragraphResponvise();
    }

    @include media-breakpoint-down(lg) {
      @include paragraphResponvise();
    }
  }
}

.faqAnswer {
  display: flex;
  margin-top: 3rem;

  @include media-breakpoint-down(md) {
    margin-top: 0;
    flex-direction: column-reverse;
    align-items: center;
  }

  figure {
    width: 50%;
    margin-top: -3rem;
    filter: drop-shadow(5px 10px 26px $blue);

    @include media-breakpoint-down(md) {
      width: 80vw;
      margin-top: inherit;
    }
  }
}

.faqAnswerItems {
  width: 50%;

  @include media-breakpoint-down(md) {
    width: auto;
  }

  details[open] summary ~ * {
    animation: sweep 0.5s ease-in-out;
  }

  @keyframes sweep {
    0% {
      opacity: 0;
      margin-left: -10px;
    }
    100% {
      opacity: 1;
      margin-left: 0px;
    }
  }

  details {
    padding: 2rem 6rem 3rem 2rem;

    @include media-breakpoint-down(md) {
      padding: 1rem 1rem;
    }
  }

  summary {
    @include paragraph($red);
    font-size: 1.3rem;
    cursor: pointer;

    @include hover {
      outline: none;
      font-weight: bold;
    }

    @include media-breakpoint-down(md) {
      @include paragraphResponvise();
      font-weight: bold;
    }

    @include media-breakpoint-down(lg) {
      @include paragraphResponvise();
      font-weight: bold;
    }
  }

  main {
    @include paragraph($red);
    margin-top: 1rem;
    font-size: 1.1rem;
    line-height: 2rem;
    letter-spacing: 1px;

    @include media-breakpoint-down(md) {
      @include paragraphResponvise();
      padding: 1rem 0.5rem 0 3rem;
    }

    @include media-breakpoint-down(lg) {
      @include paragraphResponvise();
      padding: 1rem 0.5rem 0 3rem;
    }
  }
}
