@import "./../../styles/includes";

.card {
  background: $lightest-color;
  height: fit-content;
}

.cardTitle {
  padding: 7rem 11rem 7rem;

  @include media-breakpoint-down(lg) {
    padding: 2rem 1rem;
  }

  h1 {
    @include title($blue);

    @include media-breakpoint-down(md) {
      @include titleResponsive();
    }

    @include media-breakpoint-down(md) {
      @include titleResponsive();
      padding: 1rem;
      margin-top: 5rem;
    }
  }

  p {
    @include paragraph($blue);
    padding: 2rem 9rem 0;
    line-height: 2rem;
    letter-spacing: 1px;

    @include media-breakpoint-down(lg) {
      @include paragraphResponvise();
    }
  }
}

.cardItem {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  gap: 3rem;
  padding: 1rem 4rem;

  @include media-breakpoint-down(md) {
    display: block;
    padding: 3rem;
  }

  @include media-breakpoint-down(lg) {
    grid-template-columns: 2fr 2fr;
    padding: 3rem;
  }
}

//Opção de Carosel
//
// .cardSlider {
//   button {
//     right: 25px;
//   }
// }
