@use "sass:math";
@import "./_variables";

@mixin nav() {
  font-family: $font-default;
  font-size: 1.2rem;
  color: $red;
  transition: 0.2s;
}

@mixin title($color) {
  font-family: $font-title;
  color: $color;
  font-size: 7rem;
}

@mixin paragraph($color) {
  font-family: $font-default;
  color: $color;
  font-size: 1.3rem;
}

// Responsive
@mixin titleResponsive() {
  padding: 2rem 1rem 0;
  font-size: 4rem;
}

@mixin paragraphResponvise() {
  padding: 2rem 2rem 0;
  font-size: 1rem;
}
