@import "./../../styles/includes";

.contactTitle {
  padding: 7rem 11rem 4rem;

  h1 {
    @include title($blue);
  }

  p {
    @include paragraph($blue);
    padding: 2rem 9rem 0;
    line-height: 2rem;
    letter-spacing: 1px;
  }
}

.contactItems {
  display: flex;
  justify-content: center;
}
