@import "./../../styles/includes";

.contactTitle {
  padding: 7rem 11rem 4rem;

  @include media-breakpoint-down(md) {
    padding: 2rem 1rem 4rem;
  }

  h1 {
    @include title($blue);

    @include media-breakpoint-down(md) {
      @include titleResponsive();
    }
  }

  p {
    @include paragraph($blue);
    padding: 2rem 9rem 0;
    line-height: 2rem;
    letter-spacing: 1px;

    @include media-breakpoint-down(md) {
      @include paragraphResponvise();
    }

    @include media-breakpoint-down(lg) {
      @include paragraphResponvise();
    }
  }
}

.contactItems {
  display: flex;
  justify-content: center;

  @include media-breakpoint-down(md) {
    flex-direction: column;
    align-items: center;
  }
}
