@import "./../../styles/includes";

.question {
  background: $bgRed;
  height: 124vh;

  form {
    display: flex;
    justify-content: center;

    Button {
      min-width: 225px;
      min-height: 64px;
      text-transform: uppercase;
    }
  }

  figure {
    display: flex;
    justify-content: end;
    filter: drop-shadow(5px 10px 26px $pink);

    img {
      margin-bottom: 2rem;
    }
  }
}

.questionTitle {
  padding: 4rem 11rem;

  h1 {
    @include title($pink);
    margin-top: 5rem;
    text-align: center;
  }

  p {
    @include paragraph($pink);
    text-align: center;
    margin-top: 4rem;
    font-size: 1.1rem;
    line-height: 2rem;
    letter-spacing: 1px;
    padding: 0 9rem;
  }
}
