@import "./../../styles/includes";

.question {
  background: $bgRed;
  
}

.questionTitle {
  padding: 4rem 11rem;

  h1 {
    @include title($pink);
    margin-top: 5rem;
    text-align: center;
  }

  p {
    @include paragraph($pink);
    text-align: center;
    letter-spacing: 3px;
    margin-top: 4rem;
  }
}
